
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">

  </head>
  <body>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12" id = 'vis'>
                <svg style="height : 400px; max-width : 100% ; margin-top : 10px"></svg>
              </div>
            </div>
    </div>
        
        <script>
         d3.csv("{{instance.url}}", function(consdata) {

            data = consdata.map(function(k){
                    return{
                        Year: k.Year,
                        'Budget' : +k['Budget'],
                        'Revised': +k['Revised'],
                        'Actuals' : +k['Actuals']
               
                }
            })
          
        console.log(data)

        var dataToPlot = Object.keys(data[0]).filter(function(k){return k!="Year"})
        .map(function(k){
          return {"key":k,"values":data.map(function(d){
           return {
             //let's make this a real date
             "y":+d[k],
             "x":d['Year']
             
           }
          })}
        })
        console.log(dataToPlot)
        nv.addGraph(function() {
    var chart = nv.models.multiBarChart()
        .margin({top: 100, bottom: 80, left:125})
                   //Show bar value next to each bar.            //Show tooltips on hover.
        .showLegend(true)
        .showControls(false)       //Allow user to switch between "Grouped" and "Stacked" mode.
        .reduceXTicks(false);
    
    chart.yAxis
         .tickFormat(d3.format(',.2f'))
         .ticks(3)
         .axisLabel('Total Amount(In Crore)')
         .axisLabelDistance(20);
    chart.xAxis.rotateLabels(-90)
               .axisLabel('Fiscal Years')
               ;;

    d3.select('#vis svg')
        .datum(dataToPlot)
        .call(chart);
     
    nv.utils.windowResize(chart.update);

    return chart;
  });

  
        })
 </script>
</body>
