{% load sekizai_tags static %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nv.d3.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/vis.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endaddtoblock %}
    <div class="container">
        <div class="row">
            <div aria-label="Data Table Header" class="data-table-header col-lg-12">
                Data Table
            </div>
        </div>
        <div class="row">
            <div class="data-table-section" id='container-data'>
                
            </div>
        </div>
{% addtoblock "js" %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'js/nv.d3.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/makeTable.js' %}"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
const budget = "{{ fiscalYear.budget }}",
    budget_2017 = "{{ fiscalYear.budget_2017 }}",
    budget_2016 = "{{ fiscalYear.budget_2016 }}"

const fiscalYearList = [budget, budget_2017, budget_2016];

function loadDataTable(data){

let tableSelect = d3.select('#container-data').append("table")
.attr("class", "table table-striped table-bordered")
.attr("id", "exp_table"); 

let selectedColumns = "{{ tableColumns }}".split(",").concat(fiscalYearList);

let tableColumns = [];
for(let i in selectedColumns){
    let temp = {}
    temp["data"] = selectedColumns[i]
    temp["title"] = selectedColumns[i]
    tableColumns.push(temp)
}

$('#exp_table').DataTable( {
    "processing": true,
    "bLengthChange": false, // Disable page size change
    data: data,
    columns: tableColumns
});
}

(function() {
d3.csv("{{ instance.url }}", function(data) {
    console.log(data)
    
    loadDataTable(data);
});
})();

</script>

{% endaddtoblock %}