{% load sekizai_tags static %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nv.d3.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/vis.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/naznin.css' %}">

{% endaddtoblock %}
<div class="grant-content-wrapper" style="display: none">
    <h3 class="grant-summary-title">Grant Summary</h3>
    <div class="grant-summary-info" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-info" ></i>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="summary summary-jumbotron">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <h5 class="summary-indicator-title">{{ fiscalYear.be }}</h5>
                <div class="big-figures" id="be-figures"></div>
                <div class="summary_vis"></div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h5 class="summary-sec-indicator-title">{{ fiscalYear.bePrev }} </h5>
                <div class=" secondary-big-figures" id="bePrev-figures"></div>
                <h5 class="summary-sec-indicator-title">{{ fiscalYear.re }} </h5>
                <div class=" secondary-big-figures" id="re-figures"></div>
                <h5 class="summary-sec-indicator-title">{{ fiscalYear.actuals }}</h5>
                <div class="secondary-big-figures" id="actuals-figures"></div>
            </div>
        </div>
    </div>
    
{% addtoblock "js" %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'js/nv.d3.min.js' %}"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/makeTable.js' %}"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>

<script>
/* Variable Declarations */
const actuals = "{{ fiscalYear.actuals }}",
    bePrev = "{{ fiscalYear.bePrev }}",
    re = "{{ fiscalYear.re}}",
    be = "{{ fiscalYear.be }}";


const currencySymbol = "&#8377;";

const currencyUnit = "Crore";

const fiscalYearList = [be, bePrev, re, actuals];

let w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

const maxTickLength = 35;

function onDataLoad() {
    d3.select(".grant-content-wrapper")
        .style("display", "block")
        .style("opacity", 0)
        .transition()
        .delay(700)
        .style("opacity", 1);

    d3.select(".spinner")
        .style("display", "none");
}

const formatLongNumber = d3.format(".1f"),
    formatCrore = function(x) {
        return formatLongNumber(x / 1e7) + "Cr";
    },
    formatLakh = function(x) {
        return formatLongNumber(x / 1e5) + "L";
    },
    formatThousand = function(x) {
        return formatLongNumber(x / 1e3) + "k";
    },
    formatLowerDenom = function(x) {
        return x;
    };

function formatCurrency(x) {
    let v = Math.abs(x);
    return (v >= .9995e7 ? formatCrore : v >= .9995e5 ? formatLakh : v >= .999e3 ? formatThousand : formatLowerDenom)(x);
}

function formatLongNumbertoString(x) {
    let negative = x < 0,
        str = String(negative ? -x : x),
        arr = [],
        i = str.indexOf("."),
        j;

    if (i === -1) {
        i = str.length;
    } else {
        for (j = str.length - 1; j > i; j--) {
            arr.push(str[j]);
        }
        arr.push(".");
    }
    i--;

    for (j = 0; i >= 0; i--, j++) {
        if (j > 2 && (j % 2 === 1)) {
            arr.push(",");
        }
        arr.push(str[i]);
    }

    if (negative) {
        arr.push("-");
    }
    return arr.reverse().join("");
};

function loadGrantSummary(raw_data) {
    var final_data = {
        
        act : d3.sum(raw_data.map(function(d){ return (+d[actuals])})),
        be : d3.sum(raw_data.map(function(d){ return +d[be]})),
        bePrev : d3.sum(raw_data.map(function(d){ return +d[bePrev]})),
        re : d3.sum(raw_data.map(function(d){ return +d[re]}))};

    var data = {
        act : final_data.act*0.01,
        be : final_data.be*0.01,
        bePrev : final_data.bePrev*0.01,
        re : final_data.re*0.01

    }
console.log(final_data)
    console.log(data)
//console.log(data)
    //add_grant_summary(nested_data);

    let totalExpenditure = {};
    totalExpenditure["key"] = "Total Expenditure";
    totalExpenditure["values"] = [];
    let temp = {};
    temp["label"] = be;
    temp["value"] = data.be;
    temp["series"] = 0;
 // console.log(totalExpenditure)
    totalExpenditure["values"].push(temp);
    temp = {};
    temp["label"] = bePrev;
    temp["value"] = data.bePrev;
    totalExpenditure["values"].push(temp);

    d3.select("#be-figures").html(function(d) {
        let content = "<span class='absolute-figure'>" + currencySymbol + " " + formatLongNumbertoString(data.be.toFixed(2)) + " <span class='curreny-unit'>" + currencyUnit + "</span> </span><br>";

        let percentageChange = (((data.be - data.bePrev) / data.bePrev) * 100).toFixed(1);

        content += "<span class='percentage-figures'>";

        if (percentageChange > 0) {
            content += "<i class='fas fa-arrow-up positive-fig'></i> "
        } else {
            content += "<i class='fas fa-arrow-down negative-fig'></i> "
        }

        content += "<span class='percentage-num" + (percentageChange > 0 ? " positive-fig'" : " negative-fig'") + ">" + percentageChange + "%" + "</span></span>"
        return content;
    })

    d3.select("#re-figures").html(currencySymbol + " " + formatLongNumbertoString(data.re.toFixed(2)) + " <span class='curreny-unit'>" + currencyUnit + "</span> ");

    d3.select("#actuals-figures").html(currencySymbol + " " + formatLongNumbertoString(data.act.toFixed(2)) + " <span class='curreny-unit'>" + currencyUnit + "</span> ");

    d3.select("#bePrev-figures").html(currencySymbol + " " + formatLongNumbertoString(data.bePrev.toFixed(2)) + " <span class='curreny-unit'>" + currencyUnit + "</span> ");

    drawbarchart([totalExpenditure], ".summary_vis");

    function drawbarchart(data, selection) {

        nv.addGraph(function() {
            chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return +d.value })
                .barColor(["#183152", "#D0A825"])
                .duration(250)
                .margin({ left: 130, right: 75, top: 20, bottom: 30 })
                .stacked(false)
                .showControls(false)
                .showLegend(false);

            chart.height(130)
            chart.yAxis.ticks(5).tickFormat(function(d) {
                return formatCurrency(d)
            });

            chart.yAxis.axisLabel("Figures in " + currencyUnit)

            /*
                Incase, one needs to enable the tooltip. 
            chart.tooltip.valueFormatter(function(d) {
                    return d.toFixed(1) + " " + currencyUnit;
                })

            chart.tooltip.contentGenerator(function(obj) {
                console.log(obj)
                var header = obj.series[0].key
                var headerhtml = "<div class='row'><div class='col-lg-12'><div class='tooltip-point-title'>" + header + "</div></div></div>"

                var bodyhtml = "<div class='row'><div class='col-lg-12 text-center'><div class='tooltip-point-body'><span class='legend-color-guide'><div style='background-color: " + obj.color + ";'></div></span><span class='tooltip-x-val'>" + obj.data.label + "</span><span class='tooltip-y-value'>" + obj.data.value.toFixed(1) + " " + currencyUnit + "</span></div></div>";

                return headerhtml + '' + bodyhtml;
            });*/

            chart.tooltip.enabled(false)


            if (w < 400) {
                chart.yAxis.ticks(2)
            }

            d3.select(selection).append("svg")
                .datum(data)
                .call(chart);
            nv.utils.windowResize(chart.update);

            return chart;
        });
    }
}


(function() {
    d3.csv("{{ instance.url }}", function(data) {
        
        onDataLoad();
        
        loadGrantSummary(data);

        d3.select(".dataset-download").attr("href", "{{ instance.url }}");

    
    });
})();
</script>

{% endaddtoblock %}