{% extends "page.html" %}
{% load sekizai_tags cms_tags menu_tags staticfiles %}
<!-- Header -->
{% block header-masthead %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/grants.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endaddtoblock %}

<nav aria-label="breadcrumb" class="header-page-breadcrumb">
    <ol class="breadcrumb">
        {% show_breadcrumb 'menu/custom_breadcrumb.html' %}
    </ol>
</nav>
<div class="row">
    <div class="col-lg-6">
        <div class="control-group">
            <label class="grant-select-label" for="grant-select">Grants</label>
            <select class="demo-default" id="grant-select" placeholder="Select a Grant to Explore!">
                <option value="">Select a Grant to Explore!</option>
                {% show_sub_menu 1 None 120 "menu/grants_menu.html" %}
            </select>
        </div>
    </div>
  

</div>

{% addtoblock "js" %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.5/js/standalone/selectize.min.js"></script>
<script type="text/javascript">
console.log("here")
$('#grant-select').selectize({
    sortField: {
        field: 'text',
        direction: 'asc'
    },
    onChange: function(value) {
        window.location = value;
    }
});
</script>
{% endaddtoblock %}
{% endblock header-masthead %}
{% block page-wrapper %}
<section class="dash-section">
	<div class="container">
	    <div class="content-main-card col-lg-12">
	        {% block page_content %} 
            {% placeholder "smallmultiples-exp placeholder" %}
            {% placeholder "datatable-exp placeholder" %}
	        {% endblock page_content %}
	    </div>
	</div>
</section>
{% endblock page-wrapper %}
