{% extends "page.html" %}
{% load cms_tags menu_tags staticfiles  %}
{% block css_files %} 
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock css_files %} 

{% block title %}{% page_attribute "page_title" %}{% endblock title %}





            {% block header-masthead %}
                    <div class="row">
                        <div class="col-lg-7">
                            <div id="carouselExampleFade" class="carousel header-corousel slide carousel-fade" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-lg-8 offset-lg-2 ">
                                                <div class="media">
                                                  <i class="fas fa-users"></i>
                                                  <div class="media-body">
                                                    <h3> sTotal Expenditure</h3>
                                                    <div class="header-figures">
                                                        Rs 90,270 crore | <i class="fas fa-arrow-down"></i> 9.2%
                                                    </div>
                                                  </div>
                                                </div>

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h1 class="masthead-head">{% placeholder "Masthead - Heading" %}</h1>
                            <div class="masthead-intro-description">{% placeholder "Masthead - Introductory Description" %}</div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center collaborators text-center">
                        <div class="col">
                            <div class="project-contributors-logo">
                            {% placeholder 'contributors' %}
                            </div>
                        </div>
                    </div>   
                </div>        
            {% endblock header-masthead %}
    {% block page-wrapper %}

    <section class="content-section bg-light">
    </section>

    <section class="content-section bg-primary text-white text-center">        
    </section>

    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top" aria-label="ScrollUp Button">
        <i class="fa fa-angle-up"></i>
    </a>
{% endblock page-wrapper %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    (function($) {
        "use strict"; // Start of use strict

        // Smooth scrolling using jQuery easing
        /*$('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: (target.offset().top - 54)
              }, 2000, "easeInOutExpo");
              return false;
            }
          }
        });*/

        // Closes responsive menu when a scroll trigger link is clicked
        $('.js-scroll-trigger').click(function() {
            $('.navbar-collapse').collapse('hide');
        });

        // Activate scrollspy to add active class to navbar items on scroll
        $('body').scrollspy({
            target: '#mainNav',
            offset: 56
        });

        // Collapse Navbar
        var navbarCollapse = function() {
            if ($("#mainNav").offset().top > 100) {
                $("#mainNav").addClass("navbar-shrink");
            } else {
                $("#mainNav").removeClass("navbar-shrink");
            }
            console.log("here")
        };
        // Collapse now if page is not at top
        navbarCollapse();
        // Collapse the navbar when page is scrolled
        $(window).scroll(navbarCollapse);

        // Hide navbar when modals trigger
        $('.portfolio-modal').on('show.bs.modal', function(e) {
            $(".navbar").addClass("d-none");
        })
        $('.portfolio-modal').on('hidden.bs.modal', function(e) {
            $(".navbar").removeClass("d-none");
        })

    })(jQuery); // End of use strict
    </script>
{% endblock js %}