{% extends "page_2.html" %}
{% load cms_tags menu_tags staticfiles %}
{% block css_files %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock css_files %}
{% block page-wrapper %}

<section class="content-section section-1 rounded">
        <div class="container">
                         <div class="row">
                             <div class="col-sm-12 lead my-3 section-title" style="padding-top:50px">
                                  <div class="row text-center vis-title">
                                    <h1 style="margin-bottom:-50px; padding-left: 50px">Budget Profile</h1>
                                </div>

                             </div>
                      <div class=" col-lg-4 lead my-3 section-2-text "style = "padding-top:-10px">
                           {% placeholder "Budget Text"%}
                      </div>
                      <div class="col-lg-8">
                            {% placeholder "Budget Profile" %}
                        
                    </div>
                </div>
        
        </div>
<section class="content-section section-2 rounded bg-dark">
    <div class="container">
        <div class="row">
            
                <div class=" text-white">
                  <h2 class="section-title">{% placeholder "Section 2 - Title" %}</h2>
                </div>
            </div>
                <div class="row">
                  <div class=" col-lg-6 lead my-3 section-2-text text-white">{% placeholder "Section 2 - Text" %}
                        <div class="button-placeholder"><button type="button" class = "btn" >{% placeholder "Section 2 - Link" %}</button></div>
                  </div>
                  
                
                <div class="col-lg-6 p-6" style="height:500px">
                    {% placeholder "Section 2 - Graph" %}
                    
                </div>
            </div>
    
    </div>
</section>
<section class="content-section section-3 ">
    <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-left">
              <div class="card-body">
                <h5 class="card-title">{% placeholder "Card 1 - Title" %}</h5>
                <div class="card-vis"></div>
                <div class="card-text">{% placeholder "Card 1 - Text Content" %}</div>
                <div class="button-placeholder">{% placeholder "Card 1 - Link" %}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card ">
              <div class="card-body card-right">
                <h5 class="card-title">{% placeholder "Card 2 - Title" %}</h5>
                <div class="card-text">{% placeholder "Card 2 - Text Content" %}</div>
                <div class="button-placeholder">{% placeholder "Card 2 - Link" %}</div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<section class="content-section section-4">
<div class = "container">
        <div class="row justify-content-md-center collaborators text-center">
                <div class="col">
                    <div class="project-contributors-logo">
                        {% placeholder 'contributors' %}
                    </div>
                </div>
            </div>
</div>

</section>    <!--
    <div class="media">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="mr-3 expenditure-image"> {% placeholder 'image-1 placeholder" %}</div>
                </div>
                <div class="col-sm-3">
                    <div class="media-body explorer-text">
                        {% placeholder 'text-exp-1 placeholder" %}
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="#" target="_blank">
                                                <button type="button" class="btn explore-obi">Explore Expenditure</button>
                                            </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media-explorer-text">
                        {% placeholder 'text-exp-2 placeholder" %}
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="#" target="_blank">
                                                    <button type="button" class="btn explore-obi">Explore Expenditure</button>
                                            </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mr-3 expenditure-image"> {% placeholder 'image-2 placeholder" %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6" style="padding-top:100px">
                <div class="media">
                    {% placeholder 'image-3 placeholder" %}
                    <div class="media-body">
                        {% placeholder 'text-exp-3 placeholder" %}
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#" target="_blank">
                                                            <button type="button" class="btn explore-obi">Explore Expenditure</button>
                                                    </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6" style="padding-top:100px">
                <div class="media">
                    <div class="media-body">
                        {% placeholder 'text-exp-4 placeholder" %}
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="#" target="_blank">
                                                            <button type="button" class="btn explore-obi">Explore Expenditure</button>
                                                    </a>
                        </div>
                    </div>
                    {% placeholder 'image-4 placeholder" %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section background-two" style="height: 400px">
</section>
-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top" aria-label="ScrollUp Button">
        <i class="fa fa-angle-up"></i>
    </a>
{% endblock page-wrapper %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    "use strict"; // Start of use strict

    // Smooth scrolling using jQuery easing
    /*$('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: (target.offset().top - 54)
          }, 2000, "easeInOutExpo");
          return false;
        }
      }
    });*/

    // Closes responsive menu when a scroll trigger link is clicked
    $('.js-scroll-trigger').click(function() {
        $('.navbar-collapse').collapse('hide');
    });

    // Activate scrollspy to add active class to navbar items on scroll
    $('body').scrollspy({
        target: '#mainNav',
        offset: 56
    });

    // Collapse Navbar
    var navbarCollapse = function() {
        if ($("#mainNav").offset().top > 100) {
            $("#mainNav").addClass("navbar-shrink");
        } else {
            $("#mainNav").removeClass("navbar-shrink");
        }
        console.log("here")
    };
    // Collapse now if page is not at top
    navbarCollapse();
    // Collapse the navbar when page is scrolled
    $(window).scroll(navbarCollapse);

    // Hide navbar when modals trigger
    $('.portfolio-modal').on('show.bs.modal', function(e) {
        $(".navbar").addClass("d-none");
    })
    $('.portfolio-modal').on('hidden.bs.modal', function(e) {
        $(".navbar").removeClass("d-none");
    })

})(jQuery); // End of use strict
</script>
{% endblock js %}