{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles compress %}

{% block css_files %} 
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/content_1.css' %}">
{% endblock css_files %} 

{% block base_wrapper %}


    {% block outer_wrapper %}
        <div class="base-page-outer-wrapper">

        	<header class="masthead d-flex">
		    	<div class="container">
		    		{% block header-masthead %}
		    		
		    		{% endblock header-masthead %}
		    	</div>
		    </header>
		    {% block page-wrapper %}
		    <section class="dash-section">
			    <div class="container">
	        		<div class="content-main-card col-lg-12">
	            {% block page_content %} 

	            {% endblock page_content %}
	                </div>
				</div>
			</section>
			{% endblock page-wrapper %}
        </div>
    {% endblock outer_wrapper %}
    
    {% block footer %}
    <footer id="myFooter">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-4">
	                <h2 class="logo"><a href="https://openbudgetsindia.org/" target="_blank"><img src="https://raw.githubusercontent.com/cbgaindia/design/master/logo_OBI/logo_types/dark_bg_logo/draft_final/logo_with_text/draft_final.png"></a></h2>
	            </div>
	            <div class="col-sm-4">
	                <div class="social-networks">
	                    <a href="https://twitter.com/OpenBudgetsIn" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
	                    <a href="https://www.facebook.com/OpenBudgetsIndia" target="_blank" class="facebook"><i class="fab fa-facebook-square"></i></a>
	                    <a href="https://github.com/cbgaindia"  target="_blank" class="google"><i class="fab fa-github"></i></a>
	                </div>
	                <a href="https://openbudgetsindia.org/contact" target="_blank"><button type="button" class="btn btn-default">Contact us</button></a>
	            </div>
	            <div class="col-sm-4">
	            <h5>OpenBudgetsIndia</h5>
	            <ul>
	                <li><a target="_blank" href="https://openbudgetsindia.org/budget-basics/union-budget.html">Budget Basics</a></li>
	                <li><a target="_blank" href="https://openbudgetsindia.org/about">About Us</a></li>
	                <li><a target="_blank" href="https://openbudgetsindia.org/pages/license">License</a></li>
	            </ul>
	        </div>
	        </div>
	        
	    </div>
	    <div class="footer-copyright">
	        <p>All work under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 (CC-BY)</a></p>
	    </div>
    </footer>
    {% endblock footer %}
{% endblock base_wrapper %}