
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
    <div class="container-fluid">
        <div class="row vis_wrap">
            
        </div>
    </div>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script type="text/javascript">
        d3.csv("{{ instance.url }}", function(data){
            var grants = d3.nest()
            .key(function(d){return d["Grant"]})
            .entries(data)

            drawviz(grants)
        })

        function drawviz(data){
            var multiple_frame = d3.select(".vis_wrap")
            .selectAll("div")
            .data(data)
            .enter()
            .append("div")
            .attr("class", "col-md-3")

            multiple_frame.append("h5")
            .html(function(d){
                return d.key
            })

            multiple_frame.append("svg")
            .attr("id", function(d){
                return "grant-" + d.key.split(" ")[0]
            })
            .each(function(d, i, j){
                draw_barchart(d, "grant-" + d.key.split(" ")[0])
            })
        }

        function draw_barchart(data, selection){
            nv.addGraph(function() {
                chart = nv.models.multiBarHorizontalChart()
                    .x(function(d) { return d["Year"] })
                    .y(function(d) { return +parseFloat(d["Total_Expenditure"]) })
                    .barColor(["#183152", "#D0A825", "26393D"])
                    .duration(250)
                    .margin({ left: 130, right: 75, top: 20, bottom: 30 })
                    .stacked(false)
                    .showControls(false)
                    .showLegend(false);

                chart.height(130)
                /*chart.yAxis.ticks(5).tickFormat(function(d) {
                    return formatAbbr(d)
                });*/

            
                d3.select("svg#" + selection)
                    .datum([data])
                    .call(chart);
                
                nv.utils.windowResize(chart.update);

                return chart;
            });
        }
    </script>
</body>

</html>