header.masthead {
    background: #050303 linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    min-height: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-top: 9em;
    color: white;
}

section.dash-section {
    min-height: 700px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "-";
}
ol.breadcrumb {
    margin-bottom: 0px;
}

h1.grant-title {
    font-weight: 900;
}

.header-page-breadcrumb ol {
    background: transparent;
    color: white;
    font-weight: 300;
    padding-left: 0px;
}