.btn-xl {
    padding: 1.25rem 2.5rem;
}


.content-section-heading h2 {
    font-size: 3rem;
}

.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
}


.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");*/
    background-color: rgb(33, 29, 29);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    margin: 0;
    padding: 0;
}

h1.masthead-head {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.masthead-intro-description {
    color: white;
    font-size: 17px;
    padding-right: 30px;
    font-weight: 300;
}

.masthead .carousel {
    min-height: 200px;
}
.section-title {
    font-weight: 800;
}
.section-3{
    padding: 50px 30px;
    background: #ddd url(../img/bg.png);
}
.section-3 .card-title {
    font-weight: 900;
    font-size: 22px;
    margin-bottom: .75rem;
}
.section-3 .card{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}
.card .button-placeholder {
    background: black;
    display: inline-flex;
    color: white;
        margin-top: 10px;
    border-radius: 4px;
}
.card .button-placeholder a {
    padding: 10px 20px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    border-radius: inherit;
    /* border: .05rem solid #fff; */
}
.card p {
    margin-bottom: 0px;
}
.card-left .card-title {
    background: #211d1d;
    display: inline-block;
    margin-left: -20px;
    padding: 8px 10px;
    color: white;
}
.card-left .card-text {
    padding: 0px 50px 0px 20px;
    text-align: justify;
}

.card-right .card-title {
    background: #211d1d;
    display: inline-block;
    margin-right: -20px;
    padding: 8px 10px;
    color: white;
}
.card-right .card-text {
    padding: 0px 20px 0px 50px;
    text-align: justify;
}
.card-right{
    text-align:right;
}
.card-text {
    font-weight: 400;
}
.project-contributors-logo {
    margin-top: 20px;
}